@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    overflow: auto;
}

header {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-link {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.headline {
    display: flex;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    gap: 32px;
}

.left-side {
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50vw;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.sign-up-headline {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
}

.right-side {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 500px;
    height: 200px;
    border: 1px solid #c0c0c0;
    background-color: #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f2937;
}

.information {
    padding: 32px;
    background-color: white;
    text-align: center;
    padding-bottom: 40px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.card {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.card-image {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 12px;
}

.quotes {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote {
    width: 60vw;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: left;
}

.quote-by {
    text-align: right;
    width: 30vw;
    font-size: 26px;
    font-weight: bold;
}

.sign-up {
    background-color: white;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    background-color: #3882f6;
    width: 60vw;
    padding: 50px 80px;
    border-radius: 10px;
}

.left {
    flex: 2;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.offer {
    margin-top: 8px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.sign-up-offer {
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #f9faf8;
    color: #f9faf8;
    border-radius: 10px;
    font-weight: bold;
}